﻿body {
    padding-bottom: 50pt;
    padding-top: 5pt;
    padding-left: 25pt;
    padding-right: 25pt;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
    border-bottom: 1pt solid #e5e5e5;
    margin-bottom: 40pt;
}

nav ul {
    clear: both;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    list-style: none;
    margin-right: 15pt;
    font-size: 32px;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
    text-align: justify
}

article {
    margin-bottom: 150px;
}

ul {    
}

li {
    margin-bottom: 10px;
    list-style: none;
    margin-left: 15pt;
    font-size: large;    
}

.info {
    border-left: 2pt solid #EC7063;
    padding-left: 8pt;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
    margin-top: 10pt;
    padding-top: 5pt;
    color: #777;
    border-top: 1pt solid #e5e5e5;
    clear: both;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    margin-left: 15pt;
    margin-top: -5pt;
}

button {
    min-width: 100px;
}
