﻿<header>
    <h1>Poll assignment</h1>

    <nav>
        <ul>
            <li><a [routerLink]="['poll']">Poll</a></li>
            <li><a [routerLink]="['report']">Report (poll score)</a></li>
        </ul>
    </nav>
</header>

<main>
    <article>
        <router-outlet></router-outlet>
    </article>
</main>
