﻿<div *ngIf="isDataLoading">
    <h1>Poll loading...</h1>
</div>

<div *ngIf="poll">
    
    <h1>{{poll.Name}} (id: {{poll.Id}})</h1>
    <h2>{{poll.Description}}</h2>

    <ul>
        <li *ngFor="let answer of poll.PollAnswers">
            <input *ngIf="!isVoted" id="answer{{answer.Id}}" type="radio" name="answer" value="{{answer.Id}}" (click)="setAnswerId(answer.Id)">
            <label for="answer{{answer.Id}}">{{answer.Answer}}</label>
        </li>
    </ul>

    <div *ngIf="!isVoted">
        <label>FIO: </label>
        <input #FIO (keyup)="onFIOKeyUp(FIO.value)" />

        <button (click)="onVote(FIO.value, AnswerId.value)" [disabled]="!formValid">Vote</button>
    </div>

</div>

<br />

<div *ngIf="msg" class="info">Message: {{msg}}</div>

<br />

<div *ngIf="isVoted">
    <button (click)="isVoted = false; msg = '';">One more vote please</button>
</div>

