﻿<div *ngIf="isDataLoading">
    <h1>Poll report loading...</h1>
</div>

<div *ngIf="report">
    <h1>Report for poll: {{report.PollName}}</h1>
    <h2>Poll description: {{report.PollDescription}}</h2>
    <ul>
        <li *ngFor="let answer of report.ReportAnswers">
            <div><strong>Answer:</strong> {{answer.Answer}}</div>
            <div><strong>Votes:</strong> {{answer.Count}}</div>
        </li>
    </ul>

</div>

<div *ngIf="msg">Message: {{msg}}</div>